body {
    font-family: 'Poppins Light', sans-serif;
   }
  
  p {
    line-height: 1.5em;
  }
  
  a {
    color: #faaf86;
    text-decoration: none;
  }
  
  a:hover {
    color: #4e385e;
  }
  
  .nav {
      position: fixed;
      background-color: white;
      width: 100%;
  }
  
  .site-header {
    text-align: left;
    padding: 10px;
    padding-right: 100px;
    padding-left: 100px;
    background-color: #4e385e;
  }
  
  .site-header img {
    text-align: center;
    padding: 10px;
  }
  
  .site-header h3 {
    color: #000000;
    font-size: 40px;
    padding: 10px;
    text-align: left;
  }
  .hook h1 {
    text-align: center;
    font-size: 60px;
    color: #cdb3df;
    font-family: 'Poppins Regular', sans-serif;
  }

  .hook h2 {
    text-align: center;
    font-size: 20px;
    color: white;
  }

  .hook {
    padding: 200px;
    background-color: #4e385e;
    padding-right: 150px;
    padding-left: 150px;
  }
  
  .hook p {
    font-size: 14px;
    color: white;
    text-align: center;
  }

  
  .description {
    background-color: white;
    padding-top: 25px;
  }
  
  .description h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
    color: #faaf86;
  }
  
  .description p {
    padding-right: 150px;
    padding-left: 150px;
    color: black;
    font-size: 20px;
    background-color: white;
    text-align: center;
  }
  
  
    .process {
      background-color: #cdb3df;
    }
  
    .process h1 {
      text-align: center;
      padding-top: 50px;
      font-size: 20px;
      color: #4e385e;
      font-family: 'Poppins Regular', sans-serif;

    }
  
    .process p {
      padding-right: 200px;
      padding-left: 200px;
      color: #000000;
      font-size: 14px;
      font-style: bold;
      background-color: #cdb3df;
      text-align: center;
    }
  
    .process h3 {
      text-align: center;
      padding-top: 20px;
      font-size:  20px;
      color:white;
    }
  
  .process img {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
    .citations h1 {
      text-align: center;
      padding-top: 50px;
      font-size: 20px;
      color: #b3ddc4;
    }
  
    .citations p {
      padding-right: 250px;
      padding-left: 250px;
      padding-bottom: 50px;
      color: black;
      font-size: 14px;
      font-style: bold;
      text-align: center;
    }

    /****FOOTER FORMATTING****/
.footer {
  position: relative;
  font-size: 0.7em;
  margin-top: 100px;
  display: flex;
  margin-bottom: 15px;
}

.footer li {
  display: block;
  margin: 1em 4em 0.5em 2em;
}


#footername {
  font-size: 1.2em;
  margin-left: 20px;
}

.one-fourth p {
  font-size: 10px;
}
/****end of footer FORMATTING****/


.main {
  margin-top: 0;
  padding: 0;
  z-index: -1;
  /* margin: 2rem 2rem; */
}

.home .two-thirds {
  padding-top: 50px;
  padding-bottom: 50px;
}

.one-half {
  width: 50%;
  flex-grow: 2;
}